<?xml version="1.0"?>
<launch>
	<node name="detect_peak_save_pc" pkg="intersection_recognition" type="detect_peak_save_pc"/>
	
	<node name="save_velodyne_normal_pc_odom" pkg="intersection_recognition" type="save_velodyne_normal_pc_odom" >
		<remap from="/lcl" to="/estimated_pose/pose" />
	</node>

	<node name="normal_curvature_pc_bottom" pkg="intersection_recognition" type="normal_curvature_pc_bottom"/>

	<node name="intersection_matching" pkg="intersection_recognition" type="intersection_matching" output="screen" >
		<param name="edge_progress_threshold_max" type="double" value="1.2" />
		<param name="edge_progress_threshold_min" type="double" value="0.8" />
	</node>

</launch>
