<?xml version="1.0"?>
<launch>
	<node name="detect_peak_save_pc" pkg="intersection_recognition" type="detect_peak_save_pc"/>
	
	<node name="peak_deg2rad" pkg="intersection_recognition" type="peak_deg2rad" />
	
	<node name="euclidean_cluster_distribution_filter" pkg="intersection_recognition" type="euclidean_cluster_distribution_filter">
		<remap from="/rm_cluster/removed_points" to="/static_cloud"/>
		<param name="max_itr" type="int" value="100" />
		<param name="min_cluster_size" type="int" value="1" />
		<param name="max_cluster_size" type="int" value="2000" />
		<param name="leaf_size_x" type="double" value="0.06" />
		<param name="leaf_size_y" type="double" value="0.06" />
		<param name="leaf_size_z" type="double" value="0.06" />
		<param name="dist_threshold" type="double" value="0.02" />
		<param name="downsample_rate" type="double" value="0.3" />
		<!-- <param name="cluster_tolerance" type="double" value="0.02" /> -->
		<param name="cluster_tolerance" type="double" value="0.3" />
		<param name="pt_dist_threshold" type="double" value="4.0" />
	</node>
	
	<node name="save_velodyne_normal_pc_odom" pkg="intersection_recognition" type="save_velodyne_normal_pc_odom" output="screen">
		<param name="cloud_size_threshold" type="int" value="700000" />
		<!-- <remap from="/local_cloud" to="/rm_cluster/removed_points" /> -->
	</node>

	<node name="normal_curvature_pc_bottom" pkg="intersection_recognition" type="normal_curvature_pc_bottom"/>

	<node name="intersection_matching" pkg="intersection_recognition" type="intersection_matching" output="screen" >
		<!-- 	MODE1:EDGE_PROGRESS, MODE2:ESTIMATED_POSE	 -->
		<param name="DETECT_MODE" type="int" value="1" />
		<!-- 	MODE1	 -->
		<param name="EDGE_PROGRESS_THRESHOLD_MAX" type="double" value="1.2" />
		<param name="EDGE_PROGRESS_THRESHOLD_MIN" type="double" value="0.8" />
		<!--	MODE2	-->
		<param name="DISTANCE2NODE_THRESHOLD" type="double" value="5.0" />
	</node>

</launch>
